*

!.gitignore

!hosts/
!hosts/**/
!hosts/**/*.nix
!images/
!images/**/
!images/**/*.nix
!modules/
!modules/**/
!modules/**/*.nix
!presets/
!presets/**/
!presets/**/*.nix
!users/
!users/**/
!users/**/*.nix
!users/**/*.age

!flake.nix
!flake.lock
!keys.nix
!secrets.nix

!README.md
